* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul  li {
    list-style-type: none;
}

body {

}


.container {
    width: 1140px;
    margin: 0 auto;
}

/* ----------------header----------- */
nav .container .navbar{
    display: flex;
    justify-content: space-between;
}

nav .container .navbar .nav-right ul{
    display: flex;
}

nav .container .content {
    text-align: center;
}

nav .container  .detail-nav-end {
    text-align: right;
}

/* --------------------main--------------- */
main {
    margin-top: 50px;
}
main .about .content-1 {
    text-align: center;
}

main .about .content-2 {
    display: flex;
    gap: 200px;
    margin-top: 30px;
}


main .about .content-2 .content-ul {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}