@font-face {
  font-family: roboto-bold;
  src: url(./Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(./Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(./Roboto-Regular.ttf);
}
